@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #000000;

  --custom-blue-1: #005dac;
  --custom-blue-2: #004f92;
  --custom-blue-3: #1a79d3;
  --custom-blue-4: #96c6ef;
  --custom-blue-5: #7aa8d0;
  --custom-blue-6: #6a84cb;
  --custom-blue-7: #004785;
  --custom-blue-8: #004179;
  --custom-blue-9: #0274d4;

  --custom-green-1: #64cc2f;

  --custom-red-1: #d12e2e;

  --custom-dark-1: #313131;

  --custom-gray-1: #f5f5f5;
  --custom-gray-2: #eaeff8;
  --custom-gray-3: #999999;
  --custom-gray-4: #d9d9d9;
  --custom-gray-5: #b2b2b2;
  --custom-gray-6: #dcdcdc;
  --custom-gray-7: #e0e0e0;
  --custom-gray-8: #eeeeee;
  --custom-gray-9: #767676;

  --custom-yellow-1: #ffe800;
  --custom-yellow-2: #e4b621;
  --custom-yellow-3: #ffdf44;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue-1: var(--custom-blue-1);
  --color-blue-2: var(--custom-blue-2);
  --color-blue-3: var(--custom-blue-3);
  --color-blue-4: var(--custom-blue-4);
  --color-blue-5: var(--custom-blue-5);
  --color-blue-6: var(--custom-blue-6);
  --color-blue-7: var(--custom-blue-7);
  --color-blue-8: var(--custom-blue-8);
  --color-blue-9: var(--custom-blue-9);

  --color-green-1: var(--custom-green-1);

  --color-red-1: var(--custom-red-1);

  --color-dark-1: var(--custom-dark-1);

  --color-gray-1: var(--custom-gray-1);
  --color-gray-2: var(--custom-gray-2);
  --color-gray-3: var(--custom-gray-3);
  --color-gray-4: var(--custom-gray-4);
  --color-gray-5: var(--custom-gray-5);
  --color-gray-6: var(--custom-gray-6);
  --color-gray-7: var(--custom-gray-7);
  --color-gray-8: var(--custom-gray-8);
  --color-gray-9: var(--custom-gray-9);

  --color-yellow-1: var(--custom-yellow-1);
  --color-yellow-2: var(--custom-yellow-2);
  --color-yellow-3: var(--custom-yellow-3);

  --font-sans: var(--font-arimo);

  --direction: 1;
}

body {
  background-color: var(--background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  /* height: 5px; */
}

::-webkit-scrollbar-thumb {
  background: #5555554d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5555554d;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
}
.embla__button {
  /* -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; */
}
.embla__button:disabled {
  /* color: var(--detail-high-contrast); */
}

.marquee--icon {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 80% auto;
}
.marquee span {
  display: inline-block;
  width: max-content;

  padding-left: 100%;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  animation: marquee 30s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.caret-blink {
  animation: caret-blink 1.2s ease-out infinite;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #bdbdbd;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
.loader.small {
  width: 25px;
  border: 4px solid #bdbdbd;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 1;
    /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}

.list-loading {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 1;
}

.list-loading:before,
.list-loading:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.list-loading:before {
  background: #0079df;
  animation: slide-right-left 1s linear infinite;
}

.list-loading:after {
  background: #005dac;
  animation: slide-left-right 1s linear infinite;
}

@keyframes slide-right-left {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(50%) scale(1.3);
  }

  40%,
  50% {
    transform: translate(100%);
  }

  60% {
    transform: translate(50%) scale(0.75);
  }

  90%,
  to {
    transform: translate(0);
  }
}

@keyframes slide-left-right {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-50%) scale(0.75);
  }

  40%,
  50% {
    transform: translate(-100%);
  }

  60% {
    transform: translate(-50%) scale(1.3);
  }

  90%,
  to {
    transform: translate(0);
  }
}

@view-transition {
  navigation: auto;
}

.page-body {
  view-transition-name: page;
}

::view-transition-old(page) {
  animation: slide-out 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

::view-transition-new(page) {
  animation: slide-in 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(50% * var(--direction, 1)));
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(calc(-50% * var(--direction, 1)));
  }

  100% {
    transform: translateX(0%);
  }
}
